<!-- Page Content -->
<section id="works" style="margin-top: -20px;" class="section-padding wow fadeInUp delay-05s">
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <section id="blog" class="section-padding wow fadeInUp delay-05s">
            {{#each test}}
            <!-- First Blog Post -->
            <br>
            <h2>
                <a href="#">{{title}}</a>
            </h2>
            <p class="lead">
                by <a href="#">{{author}}</a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span>{{posted}}</p>
            <hr>
            <img class="img-responsive" src="{{image}}">
            <hr>
            <p style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{post}}</p>
            <a class="btn btn-primary" href="/blogs/{{_id}}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
            <p style="visibility: hidden;">{{_id}}</p>
            <hr>
            {{/each}}
            <!-- Pager -->
            <ul class="pager">
                <li class="previous">
                    <a style="pointer-events: none" class="next" href="#">&larr; Older</a>
                </li>
                <li class="next">
                    <a style="pointer-events: none" class="next" href="#">Newer &rarr;</a>
                </li>
            </ul>

        </section>
        {{test.title}}

    </div>
    <!-- /.row -->

    <hr>

</div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>
<script type="text/javascript">
    $('.next').click(function(event){
        event.preventDefault();
    });
</script>