<link rel="stylesheet" href="css/blueimp-gallery.min.css">
    <section id="works" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div id="links">
              <a href="https://placehold.it/1080x720" title="test">
                  
              </a>
              <a href="https://placehold.it/1080x720" title="test">
                  
              </a>
              <a href="https://placehold.it/1080x720" title="test">
                  
              </a>
          </div>

          <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
          </div>
        </div>
      </div>
    </section>
    <section id="works" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Our Upcoming Events</h2>
            <!--<p class="sub-title pad-bt15">These are the events you just missed<br>Check the calendar to make you don't miss anymore</p>!-->
            <hr class="bottom-line">
          </div>
          {{recent.events}}
          {{#each recent}}
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="http://www.churchmanagementguide.com/wp-content/uploads/2016/12/Church-Services.jpg" class="img-responsive">
              <figcaption>
                  <h2>{{summary}}</h2>
                  <p>{{recent.description}}</p>
              </figcaption>
            </figure>
          </div>
          {{/each}}
          <a href="/calendar" class="read-more">See full calendar →</a>
        </div>
      </div>
    </section>
    <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">What We Stand For</h2>
            <p class="sub-title pad-bt15">We make a daily effort to love God, love people, and spread the truth of Christ<br>These are the beliefs that drive us</p>
            <hr class="bottom-line">
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>b</span>ible</h3>
              <p>We believe the Bible is the inspired word of God, written by man. The Bible is meant to be obeyed, and is useful and relevant to our lives today.</p>
              <a href="">learn more...</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>S</span>alvation</h3>
              <p>We are saved only by the grace of God, not by works. Through faith in Jesus, repentance, and baptism into Christ, we accept the free gift of forgiveness and salvation that comes through Christ, our only mediator to God.</p>
              <a href="">learn more...</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>c</span>hurch</h3>
              <p>We believe that Jesus is the head of the church. The members together form one unified body committed to loving God, loving each other, and obeying His commands. </p>
              <a href="">learn more...</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="service-item">
              <h3><span>G</span>od</h3>
              <p>God created the universe and the world we live in. He is Lord of earth and heaven, and exists as the triune Godhead-- the Father, the Son, and the Holy Spirit. God is Love, and his Sovereignty extends an unwarranted grace to mankind.</p>
              <a href="">Learn more...</a>
            </div>
          </div>
        </div>
      </div>
    </section>
      <section id="portfolio" class="section-padding wow fadeInUp delay-05s">
      <div id="poop"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Our Leadership</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/la.jpg" class="img-responsive" alt="Cabin">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/ka.jpg" class="img-responsive" alt="Slice of cake">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/ak.jpg" class="img-responsive" alt="Circus tent">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/bc.jpg" class="img-responsive" alt="Game controller">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/blog01.jpg" class="img-responsive" alt="Safe">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/blog01.jpg" class="img-responsive" alt="Submarine">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="blog" class="section-padding wow fadeInUp delay-05s">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="service-title pad-bt15">Latest from our blog</h2>
            <!-- <p class="sub-title pad-bt15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore magna aliqua.</p> -->
            <hr class="bottom-line">
          </div>
          {{#each top3}}
            <div class="col-md-4 col-sm-6 col-xs-12">
              <div class="blog-sec">
                <div class="blog-img">
                  <a href="/blogs/{{_id}}">
                    <img src={{img}}  class="img-responsive blog-img-custom">
                  </a>
                </div>
                <div class="blog-info">
                  <h2>{{title}}</h2>
                  <div class="blog-comment">
                      <p>Written By: <span>{{author}}</span></p>
                      <p>
                        <span><a href="#"><i class="fa fa-comments"></i></a> 15</span>
                        <span><a href="#"><i class="fa fa-eye"></i></a> 11</span></p>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </section>

<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Lowell and Angie Hoover</h2>
                            <hr class="star-primary">
                            <img src="img/la.jpg" class="img-responsive img-centered" alt="">
                            <p>Lowell and Angie met and both became Christians in Clemson, SC. They have been married 25 years and have three beautiful children. They have served in the ministry in several different churches for over 23 years, and have had the privilege of traveling and teaching in various countries throughout the world.</p>
                            <ul class="list-inline item-details">
                                <li>Contact Lowell:<br>
                                    <strong><a href="mailto:lowell@charlestonchurchofchrist.org">lowell@charlestonchurchofchrist.org</a><br>          
                                      <a href="tel:561-602-5274">561-602-5274</a>
                                    </strong>
                                </li>
                                <li>Contact Angie:<br>
                                    <strong><a href="mailto:angie@charlestonchurchofchrist.org">angie@charlestonchurchofchrist.org</a><br>  
                                    <a href="tel:561-602-5275">561-602-5274</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Kyle and Ally Saxton</h2>
                            <hr class="star-primary">
                            <img src="img/ka.jpg" class="img-responsive img-centered" alt="">
                            <p>Kyle and Ally both became Christians as teenagers in Triangle, NC. Kyle and Ally both graduated from the University of NC at Greensboro.  They have been best friends since High School, began dating in college, and were married in 2013. They served together helping to lead campus and young marrieds ministries in Greensboro, NC. From there, they moved to Charleston in May of 2015 to serve as leaders of the college ministry. Their desire is to help students develop an unshakeable faith and deep love for God and others.</p>
                            <ul class="list-inline item-details">
                                <li>Contact Kyle:<br>
                                    <strong><a href="mailto:kyle@charlestonchurchofchrist.org">kyle@charlestonchurchofchrist.org</a><br>          
                                      <a href="tel:919-610-4764">919-610-4764</a>
                                    </strong>
                                </li>
                                <li>Contact Ally:<br>
                                    <strong><a href="mailto:allyson@charlestonchurchofchrist.org">allyson@charlestonchurchofchrist.org</a><br>  
                                    <a href="tel:919-434-7504">919-434-7504</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Kevin and Amanda Branson</h2>
                            <hr class="star-primary">
                            <img src="img/ak.jpg" class="img-responsive img-centered" alt="">
                            <p>Kevin became a Christian while attending school at James Madison University in Virginia. Amanda became a Christian in Palm Beach, Florida, where Kevin and Amanda first met. They were married in 2009. They spent several years serving and leading in the teen ministry in Florida before moving to Charleston, South Carolina. Kevin and Amanda have two fun, lovable, adventurous little boys that keep them very busy! As a family, they strive to share the love of God through their daily lives.</p>
                            <ul class="list-inline item-details">
                                <li>Contact Kevin:<br>
                                    <strong><a href="mailto:kevin@charlestonchurchofchrist.org">kevin@charlestonchurchofchrist.org</a><br>          
                                      <a href="tel:561-801-0931">561-801-0931</a>
                                    </strong>
                                </li>
                                <li>Contact Amanda:<br>
                                    <strong><a href="mailto:amanda@charlestonchurchofchrist.org">amanda@charlestonchurchofchrist.org</a><br>  
                                    <a href="tel:561-602-5275">561-801-0928</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Bob and Charlene Lisi</h2>
                            <hr class="star-primary">
                            <img src="img/bc.jpg" class="img-responsive img-centered" alt="">
                            <p>Bob was born in Pittsfield, Massachusetts in July, 1953, and was the son of a army soldier. Charlene was born in Bloomington, Indiana as the daughter of insurance administrator. Bob was raised at military bases in the US and Europe while Charlene was raised in North Carolina. Bob received a degree in architecture from Kansas State University and Charlene received a degree in Economics from the University of Arizona. They met in Topeka, Kansas in 1979 and were married in Tucson Arizona in 1982.
                            </p>  
                            <br><p>
                            In 2005 the Lisis moved to Charleston to help with the church and to be closer to Charlene's parents. Bob and Charlene serve on the leadership group for the church and serve on staff overseeing some of the married house churches. They have been involved in a number of activities such as 'Marriage Dynamics'; 'Angel Food Ministries'; 'search committee'; 'Board of Directors' and the conversions of a number of couples.</p>
                            <br>
                            <p>
                            The Lisi's have a desire to build the church and share the gospel within the Charleston area. They have grown spiritually since becoming Christians and continue to learn to be more like Jesus. Charlene is project coordinator and administrator at the MUSC Foundation and Bob is project manager; estimator and consultant with NBM Construction. 
                             
                            Their dream is to be missionaries wherever they are and to grow the church for God. </p>
                            <ul class="list-inline item-details">
                                <li>Contact Bob:<br>
                                    <strong><a href="mailto:bob@charlestonchurchofchrist.org">bob@charlestonchurchofchrist.org</a><br>          
                                      <a href="tel:843-471-5805">843-471-5805</a>
                                    </strong>
                                </li>
                                <li>Contact Charlene:<br>
                                    <strong><a href="mailto:amanda@charlestonchurchofchrist.org">charlene@charlestonchurchofchrist.org</a><br>  
                                    <a style="visibility: hidden;" href="tel:843-471-5805">843-471-5805</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/blog01.jpg" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Title</h2>
                            <hr class="star-primary">
                            <img src="img/blog01.jpg" class="img-responsive img-centered" alt="">
                            <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong><a href="http://startbootstrap.com">April 2014</a>
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong><a href="http://startbootstrap.com">Web Development</a>
                                    </strong>
                                </li>
                            </ul>
                            <button id="btnSubmit" type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="js/blueimp-gallery.min.js"></script>
<script>
blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),
    {
        container: '#blueimp-gallery-carousel',
        carousel: true
    }
);
</script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/wow.js"></script>
<script src="js/jquery.bxslider.min.js"></script>
<script src="js/custom.js"></script>
<script src="contactform/contactform.js"></script>
